<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assettracker">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Asset Tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OwnerSignup"
            android:label="SignUp"></activity>
        <activity android:name=".VehicleTrackList"
            android:label="Track Vehicles"/>
        <activity android:name=".AssignDriver"
            android:label="Assign Driver"/>
        <activity android:name=".AddVehicle"
            android:label="Add Vehicle"/>
        <activity
            android:name=".HomeOwner"
            android:label="@string/title_activity_home_owner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddDriver"
            android:label="Add Driver"/>
        <activity
            android:name=".OwnerLogin"
            android:label="@string/title_activity_owner_login" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".OwnerActivity"
            android:label="@string/title_activity_owner" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:label="Asset Tracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VerifyPhoneActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <service
            android:name=".TrackerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".TrackerActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorPortrait" />

        <receiver
            android:name=".TrackerBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name=".TrackerActivity.ALARM_ACTION_START" />
            </intent-filter>
            <intent-filter>
                <action android:name=".TrackerActivity.ALARM_ACTION_END" />
            </intent-filter>
        </receiver>

        <service
            android:name=".TrackerTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d235ea47be832e147c30a6b6bbd57c7ada3e16fe" />
    </application>

</manifest>